framework:
    secret: '%env(APP_SECRET)%'
    session: true
    property_access:
        throw_exception_on_invalid_property_path: false

when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file
